@media (max-width: 1200px) {

    #findStyle {
        .container {
            flex-direction: column;
            gap: 1rem;
        }

        .card-lg,
        .cardCont {
            width: 100%;
        }


    }

    .banner .container {
        height: 40vh;
    }
}


@media (max-width: 900px) {
    nav {
        .navMenu {
            display: none !important;
        }

        #hamburger {
            display: flex !important;
        }
    }


    #topCategory {
        & .container {
            .cardCont {
                width: 100%;
                padding: 0 0.2rem;
            }

            .card[th='light'] {
                background-position: top right 42%;
            }
        }
    }



    #newsLetter {
        flex-direction: column;
        height: fit-content;

        .left {
            width: 100%;
            height: 70vw;
            margin-bottom: 1.5rem;
        }

        .right {
            width: 100%;
            padding: 0 1rem;

            h1 {
                font-size: 2.8em;
            }

            p {
                font-size: 1.1em;
            }
        }
    }


}


/* Mobile Breakpoint (768px) */
@media (max-width: 768px) {
    :root {
        --sec_mx: 1rem;
    }


    section,
    nav {
        width: calc(100% - 2rem);
    }

    #home {
        flex-direction: column;

        .contLeft {
            width: 100%;
            padding: 0.85rem;
            padding-bottom: 0;
            height: 25%;

            .logo {
                width: 8rem;
            }

            h1 {
                font-size: 2.5em;
                width: 95%;
            }
        }

        .contRight {
            width: 100%;
            height: 75%;
            padding: 0.7rem;
        }

        .btn1 {
            margin: 0.8rem 0;
            height: 2.7rem;
            width: 10rem;

            h4 {
                font-weight: 600;
                font-size: 1.2em;
            }
        }
    }

    #strip {
        padding: 5px 0;
        margin: 0;

        .container div {
            h1 {
                gap: 1rem;
                font-size: 2.8rem;

                img {
                    height: 2.8rem;
                }
            }

            >img {
                height: 1.3rem;
            }
        }
    }

    #amoled .container {
        height: 16rem;

        .img-comp img {
            scale: 0.8;
        }

        .slider .circle {
            width: 40px;
            height: 40px;
        }
    }

    #findStyle {
        .card-lg h2 {
            width: 15rem;
        }

        .cardCont a .btn {
            bottom: 5%;
            opacity: 1;
        }
    }

    .banner .container {
        height: 28vh;

        .btn {
            font-size: 0.8em;
            padding: 10px 13px;
        }
    }

    #collection {
        .container {
            gap: 1rem;
        }

        .card {
            width: calc(50% - 0.5rem);

            .buyBtn {
                color: white;
                background: #000;
            }
        }
    }
}

/* Mobile Breakpoint (576px) */
@media (max-width: 576px) {

    section {
        margin: 3rem var(--sec_mx);
    }

    section h1.head {
        font-size: 2.3rem;
    }

    #home {
        .contLeft {
            height: 35%;

            .logo {
                width: 6rem;
            }
        }

        .contRight {
            height: 65%;
        }
    }

    #topCategory {
        height: 95vh;
        padding-top: 3rem;
    }


    #findStyle {
        .container {
            gap: 0.5rem;
            padding: 0.5rem;
        }

        .card-lg {
            height: 80vh;
            padding: 2rem;
        }

        .cardCont {
            gap: 0.5rem;

            a {
                width: 100%;
                height: 17rem;
            }
        }
    }

    .banner .container {
        height: 33rem;

        .bImg {
            display: none;
        }

        .bImg_Resp {
            display: block;
            object-fit: fill;
        }

        .btn {
            font-size: 0.9em;
            padding: 10px 18px;
        }
    }

    #collection {
        .card {
            width: 100%;
            height: 26rem;

            img {
                height: 48%;
            }

            .pName {
                font-size: 1.2em;
            }

            .dPrice,
            .price,
            .desc {
                font-size: 1.1em;
            }



        }
    }

    .cardV {
        height: 6rem !important;

        h2 {
            font-size: 1.2em;
        }
    }

    #newsLetter {
        .left {
            height: 50vh;
            margin-bottom: 0.5rem;
        }

        .right {
            padding: 0 1.5rem;

            h1 {
                font-size: 2.2em;
            }

            p {
                font-size: 1em;
            }

            input {
                font-size: 1.2em;
                margin: 1.5rem 0;
            }

            .btn {
                font-size: 1.1em;
                padding: 0.6rem 2rem;
            }
        }
    }


}

/* Mobile Breakpoint (400px) */
@media (max-width: 430px) {

    nav {
        .contLeft {
            .logo {
                width: 7rem;
            }
        }

        .contRight {
            gap: 1.5rem;


            .btn:not(:nth-last-child(2)) {
                display: none;
            }
        }
    }

    #home .contLeft {
        .logo {
            width: 5rem;
        }

        h1 {
            font-size: 2.3em;
            width: 95%;
        }
    }


    #amoled .container{
        height: 12rem;
    }


    #findStyle {
        .card-lg {
            padding: 2rem 1rem;
            height: 68vh;

            h2 {
                font-size: 2rem;
                width: 12rem;
                line-height: 30px;
            }

            .btn {
                font-size: 1rem;
            }
        }

        .cardCont a {
            height: 12rem;
        }
    }

    #collection {
        .card {
            gap: 0.05rem;
            height: 18rem;

            .buyBtn {
                padding: 8px;
            }
        }
    }





}