@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Exo:ital,wght@0,100..900;1,100..900&family=Marcellus&family=Orbitron:wght@400..900&family=Philosopher:wght@400;700&family=Teko:wght@300..700&display=swap');


@font-face {
    font-family: stretchPro;
    src: url('font/StretchPro.woff2');
    font-display: swap;
}

@font-face {
    font-family: proximaNova;
    src: url('font/Proxima-Nova.woff2');
    font-display: swap;
}

:root {
    --bg-body: #fbfef9;
    --white: #fff;
    --black: #000;
    --color1: #F1559B;
    --color2: #dadada;
    --color3: #F6CEB7;
    --color4: #8C99D6;
    --color5: #f4f2f0;
    --color6: #afb6d61b;

    --font1: 'Poppins', sans-serif;
    --font2: "Philosopher";
    --font3: "Orbitron";
    --font4: "Changa";
    --font5: "Teko";
    --font6: "Marcellus";
    --font7: "Exo";

    --sec_mx: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;

    &::-webkit-scrollbar {
        display: none;
    }
}

body,
html {
    height: 100%;
    width: 100%;
    
}





.hidden {
    display: none !important;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}


section {
    width: calc(100% - 6rem);
    margin: 4.5rem var(--sec_mx);
}

section {
    h1.head {
        font-size: 2.8em;
        margin-bottom: 1rem;
        padding: 1rem 0;
        z-index: 10;
        width: fit-content;
        background-color: var(--bg-body);
        position: relative;
        font-family: var(--font6);
        font-weight: 600;
    }
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: var(--bg-body);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 55px;

    h2 {
        display: flex;
        align-items: end;
        overflow: hidden;

        span {
            font-size: 3em;
            transform: translateY(100%);
            opacity: 0;
            color: black;
            font-family: var(--font4);
            font-weight: 300;
        }

    }

    .loadDot {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: 0 10px;

        span {
            height: 10px;
            width: 10px;
            border: 2px solid var(--color1);
            border-radius: 50%;
            margin: 10px 5px;
            transform: translate(500%, 50%);
            opacity: 0;
        }
    }

    .cont {
        position: relative;
        height: 3rem;
        width: 9rem;

        h3 {
            text-align: center;
            font-family: var(--font5);
            font-weight: 400;
            font-size: 2.2em;
            background-color: var(--bg-body);
            position: absolute;
            top: 0;
            left: 0;
            scale: 0;
        }
    }
}

#main {
    background-color: var(--bg-body);

}

nav {
    width: 100% !important;
    height: 80px;
    position: relative;
    background-color: var(--bg-body);
    z-index: 10;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 0 var(--sec_mx);

    >.container {

        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 10;
        background-color: var(--bg-body);
    }

    .contLeft {
        display: flex;
        align-items: center;
        gap: 3rem;
        height: 100%;

        .logo {

            width: 9rem;
        }

        .navMenu {
            display: flex;
            align-items: center;
            gap: 2rem;


            .navLink {
                cursor: pointer;
                font-size: 1.05em;
                font-weight: 500;
                height: 2.5rem;
                font-family: var(--font1);
                display: flex;
                align-items: center;
                gap: 2px;

                i {
                    font-size: 2rem;
                    font-weight: 800;
                }

                i:nth-last-child(1) {
                    color: red;
                }
            }

            .more i {
                font-size: 1.2rem;
                padding: 10px;
            }
        }

    }

    .contRight {
        height: 100%;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;


        i {
            font-size: 1.5rem;
        }

        .btn {
            cursor: pointer;
        }

        #hamburger {
            display: none;
            flex-direction: column;
            gap: 3px;
            align-items: flex-end;
            cursor: pointer;


            p {
                height: 3.5px;
                background-color: currentColor;
                border-radius: 20px;
                transition: all 0.45s ease-in-out;

                &:nth-child(1) {
                    width: 1.5rem;
                }

                &:nth-child(2) {
                    width: 1.1rem;
                }

                &:nth-child(3) {
                    width: 0.7rem;
                }
            }
        }
    }


}

nav .dropdown {
    position: relative;

    .dropdownCont {
        cursor: default;
        position: absolute;
        left: -100%;
        top: 2.7rem;
        width: 20rem;
        max-height: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        background-color: var(--white);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        box-shadow: 0px 0px 5px #949494;
        border-radius: 5px;

        .item {
            flex-shrink: 0;
            overflow: hidden;
            padding: 15px 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .item:hover {
            background-color: #222;
            color: white;
        }

        h1 {
            transform: translate(0px, 100px);
            opacity: 0;
        }
    }
}

nav .dropdown.active {
    i:nth-child(1) {
        display: none;
    }

    i:nth-last-child(1) {
        color: red;
        display: block !important;
    }
}

nav .dropdown-bg {

    cursor: default;
    width: 100%;
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 9;

    background: rgba(48, 47, 47, 0.211);
    backdrop-filter: blur(5px);

}

nav .menu-sm {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: rgba(200, 200, 200, 0.7);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    right: -100%;
    opacity: 0;

    z-index: 12;

    >div {
        z-index: 12;
        position: relative;
        display: flex;
        padding: 0 2rem;
    }

    .contTop {
        align-items: center;
        justify-content: end;
        gap: 2rem;
        height: 15%;

        i {
            font-size: 1.2rem;
            font-weight: 900;
            padding: 0.6rem;
            background-color: #fff;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .contBtm {
        flex-direction: column;


        .navLink {
            overflow: hidden;
            margin: 8px 0;

            h1 {
                font-size: 1.7rem;
                font-weight: 600;
                text-transform: capitalize;
                transform-origin: top left 10px;

            }
        }
    }

}





#home {
    height: calc(100vh - 100px);
    display: flex;
    border: 0.5px solid #747373;
    margin-top: 0;

    .contLeft {
        width: 35%;
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .logo {
            width: 12vw;

            img {
                height: 100%;
                width: 100%;
            }
        }

        h1 {
            font-size: 5.5vw;
            font-family: var(--font1);

            span {
                font-family: var(--font2);
                font-size: 1em;
                color: var(--color1);
            }
        }


    }

    .contRight {
        width: 65%;
        height: 100%;
        padding: 1rem;

        .slider {
            width: 100%;
            height: 100%;
            display: flex;
            overflow: hidden;
            position: relative;

            .sliderItem {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                flex-shrink: 0;
                display: none;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }

            .active {
                display: flex !important;
                z-index: 1;
            }

            .zHigh {
                z-index: 2;
            }
        }
    }
}


#topCategory {
    height: 100vh;
    padding: 1vw 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .container {
        height: 85%;
        width: 100%;
        display: flex;
        overflow: hidden;
        margin-bottom: 1.5rem;

        .cardCont {
            flex-shrink: 0;
            width: 50%;
            padding: 0 1rem;
        }

        .card {
            height: 100%;
            width: 100%;
            background: no-repeat top center;
            background-size: cover;
            border: 0.5px solid rgba(194, 194, 194, 0.45);
            border-radius: 5px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 2rem;
            color: var(--color2);
            font-family: var(--font2);
            text-align: center;

            h4 {
                font-size: 2rem;
            }

            .cardFooter {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;

                p {
                    font-size: 1.2rem;
                    font-weight: 500;

                }
            }

            button {
                border-radius: 10px;
                padding: 10px 20px;
                cursor: pointer;
                font-weight: 600;
            }
        }

        .card[th="light"] {
            color: var(--black) !important;

            p {
                font-weight: 600;
            }
        }
    }

}


#strip {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(48, 43, 43);
    padding: 15px 0;

    .container {
        display: flex;
        align-items: center;


        >div {
            display: flex;
            align-items: center;
            width: 30rem;
            justify-content: space-around;


            h1 {
                gap: 1rem;
                font-size: 3.5rem;
                display: flex;
                align-items: center;

                img {
                    height: 4rem;
                }
            }

            >img {
                height: 1.5rem;
                rotate: 180deg;
                transition: 0.5s all ease-in-out;
            }

            >img.reverse {
                rotate: 0deg;
            }

            i {
                font-size: 1.8em;
                color: var(--color2);
            }


            &:nth-child(1) h1 {
                color: var(--color1);
            }

            &:nth-child(2) h1 {
                color: var(--color3);
            }

            &:nth-child(3) h1 {
                color: var(--white);
            }

            &:nth-child(4) h1 {
                color: var(--color4);
            }
        }

    }
}


#amoled {

    .container {
        margin: 2rem 0;
        width: 100%;
        height: 25rem;
        background-color: var(--black);
        position: relative;
        overflow: hidden;

        .img-comp {
            width: auto;
            height: 100%;
            overflow: hidden;
            position: absolute;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                vertical-align: middle;
            }
        }

        .slider {
            position: absolute;
            z-index: 9;
            width: 2px;
            height: 100%;
            background-color: var(--white);
            cursor: e-resize;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.6;

            .circle {
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: var(--color2);
            }
        }
    }
}


#findStyle {
    .container {
        width: 100%;
        height: fit-content;
        border: 1px solid gray;
        padding: 1rem;

        display: flex;
        justify-content: space-between;
    }

    .card-lg {
        height: 90vh;
        width: 45%;
        padding: 3rem 2rem;
        background: url("img/findStyle/cardLG_BG_model.webp") center left 37% no-repeat;
        background-size: cover;
        border-radius: 10px;

        h2 {
            font-size: 2.5em;
            font-weight: 700;
            line-height: 43px;
            width: 17rem;
        }

        .btn {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.2em;
            padding: 12px 20px;
            margin: 1rem 0;
            cursor: pointer;
            border-radius: 15px;
            border: none;
            background: #000;
            color: var(--color2);
        }

    }

    .cardCont {
        display: flex;
        flex-wrap: wrap;
        width: 53%;
        display: flex;
        gap: 1rem;

        a {
            width: calc(50% - 0.5rem);
            height: 20rem;
            position: relative;
            overflow: hidden;
            border-radius: 10px;

            img {
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top center;
                z-index: -1;
                transition: all 0.15s ease-in-out;
            }

            .btn {
                position: absolute;
                z-index: 1;
                left: 50%;
                bottom: 2%;
                transform: translate(-50%);
                cursor: pointer;

                opacity: 0;
                padding: 7px 10px;
                border-radius: 10px;
                border: none;

                background-color: var(--black);
                color: var(--white);
                box-shadow: 0px 0px 10px rgb(99, 98, 98);

                transition: all 0.2s ease-in-out;
            }

            &:hover {
                img {
                    scale: 1.05;
                }

                .btn {
                    bottom: 10%;
                    opacity: 1;
                }
            }
        }
    }
}


.banner {
    margin: -0.5rem var(--sec_mx);

    .container {
        width: 100%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .bImg_Resp {
            display: none;
        }

        .btn {
            position: absolute;
            left: 50%;
            bottom: 8%;
            transform: translate(-50%);
            letter-spacing: 1.2px;
            width: 15rem;
            
            padding: 12px 25px;
            border-radius: 10px;
            background-color: var(--color3);
            box-shadow: 0 0 15px #666;
            
            font-weight: 500;
            font-size: 1.1em;
            
            border: none;
            opacity: 0.9;
            
            &:hover{
                letter-spacing: .5px;
                font-weight: 600;
                opacity: 1;
            }
        }
    }
}


#collection {
    .container {
        width: 100%;
        height: 85%;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
    }

    .card {
        width: 21rem;
        height: 28rem;
        background: var(--color5);
        padding: 0.8rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;

        img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            object-fit: contain;
            width: 100%;
            height: 55%;
            margin-bottom: 0.4rem;
        }

        .pName {
            font-size: 1.3em;
            text-transform: uppercase;
            font-weight: 500;
        }

        .dPrice {
            font-size: 1.2em;
            font-weight: 600;
        }

        .price {
            font-size: 1.1em;
            text-decoration: line-through;
            text-decoration-thickness: 1.1px;
            margin-left: 5px;
        }

        .colors {
            display: flex;

            span {
                margin: 3px;
                height: 20px;
                width: 20px;
                border: 1px solid #333;
                border-radius: 50%;
                background-color: var(--color);
            }
        }

        .desc {
            font-family: var(--font1);
            font-size: 1.09em;
            font-weight: 500;
            text-transform: capitalize;
        }

        .buyBtn {
            width: 80%;
            margin-top: 0.4rem;
            padding: 10px;
            border-radius: 15px;
            transition: all 0.5s ease-in-out;
            font-family: var(--font1);
        }
    }
}

.cardV {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row !important;
    gap: 2rem !important;

    h2 {
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-family: var(--font7);
        font-weight: 600;

        &::after {
            content: "";
            height: 1.5px;
            width: 0%;
            background-color: var(--color1);
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            scale: 1.1;

            &::after {
                width: 100%;
            }
        }
    }

}


#newsLetter {
    display: flex;
    height: 95vh;

    .left {
        width: 45%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top right;
            transform: rotateY(0.5turn);
        }
    }


    .right {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem;
        text-align: center;

        h1 {
            font-size: 3.1em;
            font-family: var(--font1);
            font-weight: 700;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.18em;
            width: 90%;
            line-height: 150%;
            font-family: var(--font1);
            font-weight: 300;
            opacity: 0.8;
        }

        form {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        input {
            width: 100%;
            margin: 2rem 0;
            padding-bottom: 15px;
            font-size: 1.4em;
            outline: none;
            border: none;
            border-bottom: 1px solid #afafaf;
            text-align: center;

            &::placeholder {
                color: #abaaaa;
            }
        }

        .btn {
            border-radius: 30px;
            padding: 0.8rem 3rem;
            font-size: 1.25em;
            background: white;
        }
    }
}

footer {
    background-color: var(--color5);
    padding: 2rem var(--sec_mx);

    .footerBody {
        padding: 1rem 0;
        display: flex;
        gap: 0.5rem 0;
        justify-content: space-between;
        flex-wrap: wrap;

        .container {
            width: 15rem;

            .title {
                font-size: 1.1em;
                text-transform: uppercase;
                margin-top: 1rem;
                margin-left: 0.6rem;
                font-family: var(--font4);
                font-weight: 500;
            }

            li {
                list-style: none;
                font-size: 1.05em;
                padding: 5px 10px;
                margin: 0.2rem 0;
                letter-spacing: 0.5px;
                font-family: var(--font1);

                &:not(.dif) {
                    cursor: pointer;
                    border-radius: 20px;
                    transition: all 0.5s ease-in-out;

                    &:hover {
                        background-color: #a9a8a83c;
                    }
                }

            }

            i {
                font-size: 1.25em;
            }

        }

        .contact {
            width: 25rem;

            a {
                color: #222;
                font-size: 1.1em;
                font-weight: 500;
                font-family: var(--font2);
            }

            .social {
                display: flex;
                gap: 0.1rem;
                margin: 0.5rem 0;

                i {
                    font-size: 1.4em;
                }

                li {
                    height: 2rem;
                    width: 2.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    margin: 0 !important;
                    &:hover{
                        img{
                            display: block;
                        }
                        i{
                            display: none;
                        }
                    }
                }
                img{
                    height: 1.5rem;
                    display: none;
                }

            }

        }
    }


}

.footerBorder {
    height: 1px;
    margin-top: 25rem;
}

.footBG {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    text-align: center;


    h1 {
        font-size: 18vw;
        cursor: pointer;
        font-family: var(--font3);
        line-height: 90%;
        color: #afafaf;
    }

    h2 {
        width: 100%;
        padding: 1.5rem;
        background-color: rgba(0, 0, 0, 0.30);
        text-align: center;
        font-size: 1.12em;
        font-family: var(--font7);
        font-weight: 500;
    }
}


.feedback{
    position: fixed;
    cursor: pointer;
    right: 0;
    top: 42%;
    z-index: 5;
    padding: 0.8rem 0.6rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--color1);

    h2{
        font-weight: 500;
        font-size: 0.9em;
        font-family: var(--font1);
        color: var(--bg-body);
        transform: rotate(180deg);
        text-transform: capitalize;
        writing-mode: vertical-lr;
        margin-bottom: 5px;
    }

    i{
        font-size: 1rem;
        color: var(--bg-body);
    }
}

#scrollTop{
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    right: 1%;
    bottom: -20%;
    z-index: 5;
    background-color: #000;
    transition: all 0.5s ease-in-out;
    i{
        font-size: 2.5em;
        color: var(--bg-body);

    }
}