:root {
    --bg-primary: ;
    --text-primary: ;
    --font-primary: ;
    --white: #fff;
    --black: #000;
    --color1: #F1559B;
    --color2: #dadada;

    --font1: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body,
html {
    height: 100%;
    width: 100%;
}

.hidden {
    display: none !important;
}

#main {
    padding: 0 3rem;
}


nav {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: #fff;
    z-index: 10;

    .container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 10;
        background-color: #fff;
    }

    .contLeft {
        display: flex;
        align-items: center;
        gap: 3rem;
        height: 100%;

        .logo {

            width: 9rem;
        }

        .navMenu {
            display: flex;
            align-items: center;
            gap: 2rem;


            .navLink {
                cursor: pointer;
                font-size: 1.05em;
                font-weight: 500;
                height: 2.5rem;
                font-family: var(--font1);
                display: flex;
                align-items: center;
                gap: 2px;

                i {
                    font-size: 2rem;
                    font-weight: 800;
                }

                i:nth-last-child(1) {
                    color: red;
                }
            }

            .more i {
                font-size: 1.2rem;
                padding: 10px;
            }
        }

    }

    .contRight {
        height: 100%;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;


        i {
            font-size: 1.5rem;
        }

        .btn {
            cursor: pointer;
        }

        .hamburger {
            display: flex;
            flex-direction: column;
            gap: 3px;
            align-items: flex-end;

            p {
                height: 3.5px;
                background-color: currentColor;
                border-radius: 20px;
                transition: all 0.45s ease-in-out;

                &:nth-child(1) {
                    width: 1.5rem;
                }

                &:nth-child(2) {
                    width: 1.1rem;
                }

                &:nth-child(3) {
                    width: 0.7rem;
                }
            }
        }
    }


}

nav .dropdown {
    position: relative;

    .dropdownCont {
        cursor: default;
        position: absolute;
        left: -100%;
        top: 2.7rem;
        width: 20rem;
        max-height: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        background-color: var(--white);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        box-shadow: 0px 0px 5px #949494;
        border-radius: 5px;

        .item {
            flex-shrink: 0;
            overflow: hidden;
            padding: 15px 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .item:hover {
            background-color: #222;
            color: white;
        }

        h1 {
            transform: translate(0px, 100px);
            opacity: 0;
        }
    }
}

nav .dropdown.active {
    i:nth-child(1) {
        display: none;
    }

    i:nth-last-child(1) {
        color: red;
        display: block !important;
    }
}

nav .dropdown-bg {

    cursor: default;
    width: 100%;
    position: absolute;
    left: 0;
    top: 65px;
    z-index: 9;

    background: rgba(48, 47, 47, 0.211);
    backdrop-filter: blur(5px);

}


#home {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    border: 0.5px solid #747373;
    margin-bottom: 3rem;

    .contLeft {
        width: 35%;
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .logo {
            width: 15rem;

            img {
                height: 100%;
                width: 100%;
            }
        }

        h1 {
            font-size: 5.5em;

            span {
                font-size: 1em;
                color: var(--color1);
            }
        }


    }

    .contRight {
        width: 65%;
        height: 100%;
        padding: 1rem;

        .slider {
            width: 100%;
            height: 100%;
            display: flex;
            overflow: hidden;
            position: relative;

            .sliderItem {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                flex-shrink: 0;
                display: none;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }

            .active {
                display: flex !important;
                z-index: 1;
            }

            .zHigh {
                z-index: 2;
            }
        }
    }
}


#topCategory {
    height: 100vh;
    width: 100%;
    padding: 2vw 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    >h1 {
        font-size: 3rem;
    }

    .container {
        height: 85%;
        width: 100%;
        display: flex;
        overflow: hidden;
        margin-bottom: 1.5rem;

        .cardCont{
            flex-shrink: 0;
            width: 50%;
            padding: 0 1rem;
        }        

        .card {
            height: 100%;
            width: 100%;
            background: no-repeat top center;
            background-size: cover;
            border: 0.5px solid rgba(194, 194, 194, 0.45);
            border-radius: 5px;
           
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 2rem;
            color: var(--color2);
            
            h4{
                /* mix-blend-mode: difference; */
                font-size: 2rem;
            }

            .cardFooter{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;

                p{
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }

            button{
                border-radius: 10px;
                padding: 10px 20px;
                cursor: pointer;
                font-weight: 600;
            }
        }

        .card[th="light"]{
            color: var(--black) !important;
            p{
                font-weight: 600;
            }
        }
    }

}